body{
    background:#f3efea;
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
    overflow-y: scroll;
}

.card{
    width:100%;
    max-width:600px;
    margin:0 auto;
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

        .site-nav{
            display:flex;
            justify-content:center;
            gap:12px;
            margin-bottom:20px;
        }

        .site-nav a{
            color:#b28b72;
            text-decoration:none;
            font-weight:600;
        }

        label{
            display:block;
            margin-top:15px;
            font-weight:600;
        }

        p{
            color:gray;
        }

        input, select{
            width:100%;
            padding:15px;
            margin-top:15px;
            border-radius:15px;
            border:1px solid #ddd;
            font-size:16px;
            box-sizing:border-box;
        }

        button{
            width:100%;
            padding:15px;
            margin-top:15px;
            background:#b28b72;
            color:white;
            border:none;
            border-radius:15px;
            font-size:18px;
            cursor:pointer;
        }
        .goal-item{
            margin-top:20px;
            padding:15px;
            border-radius:15px;
            background:#f7f3ef;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }
        .delete-btn{
            width:auto;
            background:none;
            border:none;
            color:#b28b72;
            font-size:28px;
            cursor:pointer;
        }
        
    
        